html, body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.oldergram-logo {
    width: 127px;
    height: 33px;
    margin-top: 15px;
    margin-left: 15px;
}

.user-photo {
    width: 33px;
    height: 33px;
    margin-top: 15px;
    margin-left: 183px;
    border-radius: 100%;
}

header {
    display: flex;
    text-align: center;
    width: 375px;
    height: 67px;
    border-bottom: 1px solid #C6C6C6;
}

.avatar-van {
    width: 33px;
    height: 33px;
    margin: 10px 10px;
    border-radius: 100%;
}

.name {
    font-weight: 700;
    margin-top: 12px;
}

p{
    font-family: Source Sans Pro;
    margin-top: 11px;
    margin-left: 8px;
    line-height: 100%;
    margin: 2px;
}

.user-info {
    display: flex;
}

.post-van{
    width: 375px;
    height: 375px;
}

.icons img{
    width: 22px;
    height: 22px;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 0;
}

.like-desc{
    padding: 5px;
    
}

.likes, span{
    font-weight: 700;
}

.likes{
    margin: 15px 0;
}